body {
  font-family: "Roboto 300", sans-serif;
  border: 2px;
  border-style: dashed double;
  border-color: green;
  border-radius: 5px;
  position: absolute;
}

img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

a {
  text-decoration: none;
  color: gray;
}

h1 {
  font-family: "Oswald 500", sans-serif;
  font-size: 61px;
}

#heading {
  margin: 50px;
}

#container {
  display: grid;
  place-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.label {
  font-size: 10px;
  color: white;
}

.calendarsvg {
  display: grid;
  place-items: center;
}

.sunburstControls:hover {
  fill-opacity: 0.4;
}
#hbc {
  padding-top: 70px;
}

.bars:hover {
  opacity: 0.8;
}

#narrativestyle {
  font-size: 24px;
  padding-bottom: 15px;
}
